.search {
    padding: 226px 0 calc(62px + 35px);
    &__btns {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__icon {
        &:hover {
            path {
                stroke: $main-orange;
            }
            rect {
                stroke: $main-orange;
            }
            circle {
                stroke: $main-orange;
                fill: $main-orange;
            }   
        }
    }
    .last {
        &:hover {
            rect {
                stroke: $main-orange;
                fill: $main-orange;
            }
        }
    }
    
    &__btn-title {
        color: $main-orange;
        line-height: 64px;
        font-weight: 700;
        font-size: 64px;

        margin-bottom: 59px;
    }

    &__all {
        margin-top: 150px;

        text-align: center;
        font-weight: 300;
        font-size: 64px;
        color: #5B5B5B;
    }
}

.arrow-down {
    position: relative;
    margin-top: 35px;

    &::before, &::after {
        content: '';
        width: 10px;
        height: 65px;
        background: $main-orange;
        position: absolute;
        left: 50%;
        transform: rotateX(-50%);
    }

    &::before {
        transform: rotate(45deg);
        left: 828px;
    }

    &::after {
        transform: rotate(-45deg);
        left: 789px;
    }
}





