.search-more {
    padding-top: 121px;
    &__title {
        text-align: center;
        color: $main-orange;
        font-size: 64px;
    }

    &__subtitle {
        text-align: center;
        color: $main-black;
        font-size: 36px;
        margin-top: 37px;
    }
}

.lists__wrapper { 
   margin-top: 134px; 
   display: flex;
   justify-content: space-between;
   
   .list {
        &__title {
            color: $main-black;
            font-weight: 700;
            font-size: 40px;
            margin-bottom: 37px;
        }

        li {
            color: $secondary-black;
            margin-bottom: 28px;
            font-size: 30px;
            font-weight: 300;
        }
   }
}
