* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: 1629px;
  margin: 0 auto;
}

.input {
  max-width: 594px;
  width: 100%;
  background: #EFEFEF;
  border-radius: 4px;
  padding: 33px 23px;
  font-weight: 300;
  font-size: 28px;
  line-height: 28px;
}
.input::-moz-placeholder {
  color: #686868;
  font-size: 28px;
  font-family: inherit;
  font-size: 300;
}
.input:-ms-input-placeholder {
  color: #686868;
  font-size: 28px;
  font-family: inherit;
  font-size: 300;
}
.input::placeholder {
  color: #686868;
  font-size: 28px;
  font-family: inherit;
  font-size: 300;
}

.btn {
  background: #FFE3D3;
  max-width: 178px;
  width: 100%;
  border-radius: 4px;
  padding: 25px 0;
  text-align: center;
  color: #000000;
  font-size: 28px;
  line-height: 28px;
  font-weight: 300px;
}

.header {
  background-color: #353535;
  min-height: 122px;
  padding: 55px 0 27px;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__wrapper-left {
  display: flex;
  align-items: center;
  width: 66%;
}
.header__title {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  margin-right: 110px;
}
.header__title span {
  color: #FFAF83;
}
.header__select {
  color: #FFFFFF;
  font-size: 24px;
  position: relative;
  cursor: pointer;
}
.header__select::before, .header__select::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 11px;
  background: #FFAF83;
  left: 106%;
  top: 8px;
}
.header__select::before {
  transform: rotate(45deg);
  left: 114%;
}
.header__select::after {
  transform: rotate(137deg);
}
.header__wrapper-right {
  width: 33%;
}
.header__wrapper-right .header__select::before {
  left: 111%;
}
.header__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__item {
  font-size: 24px;
  color: #fff;
}

.find {
  margin-top: 145px;
  background: url("../imgs/eblani.png") no-repeat;
  background-position: right bottom;
  padding-bottom: 93px;
}
.find__title {
  color: #353535;
  font-weight: 700;
  line-height: 96px;
  font-size: 96px;
}
.find .form {
  margin-top: 110px;
}
.find .form__send-btn {
  margin-left: 20px;
  background: #FFAF83;
  max-width: 204px;
  width: 100%;
  padding: 30px 0;
  font-size: 35px;
  color: #FFFFFF;
}
.find .form__btns {
  display: flex;
  justify-content: space-between;
  max-width: 594px;
  flex-wrap: wrap;
  margin-top: 23px;
}
.find .message {
  background: #FFAF83;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  margin-top: 147px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  padding: 226px 0 97px;
}
.search__btns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.search__icon:hover path {
  stroke: #FFAF83;
}
.search__icon:hover rect {
  stroke: #FFAF83;
}
.search__icon:hover circle {
  stroke: #FFAF83;
  fill: #FFAF83;
}
.search .last:hover rect {
  stroke: #FFAF83;
  fill: #FFAF83;
}
.search__btn-title {
  color: #FFAF83;
  line-height: 64px;
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 59px;
}
.search__all {
  margin-top: 150px;
  text-align: center;
  font-weight: 300;
  font-size: 64px;
  color: #5B5B5B;
}

.arrow-down {
  position: relative;
  margin-top: 35px;
}
.arrow-down::before, .arrow-down::after {
  content: "";
  width: 10px;
  height: 65px;
  background: #FFAF83;
  position: absolute;
  left: 50%;
  transform: rotateX(-50%);
}
.arrow-down::before {
  transform: rotate(45deg);
  left: 828px;
}
.arrow-down::after {
  transform: rotate(-45deg);
  left: 789px;
}

.search-more {
  padding-top: 121px;
}
.search-more__title {
  text-align: center;
  color: #FFAF83;
  font-size: 64px;
}
.search-more__subtitle {
  text-align: center;
  color: #353535;
  font-size: 36px;
  margin-top: 37px;
}

.lists__wrapper {
  margin-top: 134px;
  display: flex;
  justify-content: space-between;
}
.lists__wrapper .list__title {
  color: #353535;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 37px;
}
.lists__wrapper .list li {
  color: #000000;
  margin-bottom: 28px;
  font-size: 30px;
  font-weight: 300;
}

.orders {
  padding-top: 146px;
  padding-bottom: 90px;
  background: url("../imgs/orders_bg.png") no-repeat bottom right;
}
.orders__wrapper {
  display: flex;
}
.orders__list {
  margin-right: 270px;
}
.orders__list li {
  color: #353535;
  font-size: 48px;
  margin-bottom: 54px;
}
.orders__contacts {
  margin-top: 354px;
  color: #353535;
  line-height: 40px;
  font-size: 40px;
}/*# sourceMappingURL=styles.css.map */